# Python & Django
*.pyc
migrations/

# Misc
*.xlsx
*.xml
*.pdf
*.h5
.DS_Store

# Editors
.idea/
*.sublime-project
*.sublime-workspace

Purchase/.idea/
Purchase/.idea/misc.xml
Purchase/.idea/workspace.xml

# Config File
Purchase/config.ini




